<!-- Footer -->
<footer class="footer mt-auto text-center text-lg-start bg-customblue">
    <div class="container p-4 custom-center-div">
      <div class="row">
        <div class="col-5">
          <p class="fs-4">HACKERFILL</p>
          <p class="colorlight">
            This project was developed for a school project at Eastern Piedmont University during the web programming course.
            Hackerfill is a platform that provides a collection of articles regarding cybersecurity.
          </p>
        </div>
        <div class="col-4 mx-auto">
          <p class="fs-4">LINKS</p>
          <ul class="list-unstyled">
            <li><a href="https://github.com/LukeAz" class="colorlight">Github (LukeAz)</a></li>
            <li><a href="https://www.uniupo.it" class="colorlight">School site</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="text-center p-3 bg-semitransparent">
      © 2021 Copyright:
      <a class="text-light" href="https://github.com/LukeAz/Hackerfill">Hackerfill</a>
    </div>
</footer>
<!-- Footer -->